
<%= gravatar_for @user %>

<h1>User: <%= @user.id %> </h1>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>


<h2>Users Articles</h2>
<%= render 'articles/articles' , obj: @user.articles %>

</br>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Delete', user_path(@user), method: :delete, data: {confirm: 'Are you sure?' } %>